.BoardHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem;
}

.BoardHeaderTitle {
  flex-grow: 1;
}

.BoardHeaderBtnContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
